<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60422785470-8n421g2o618jciksig2gm08281icmrp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60422785470-8n421g2o618jciksig2gm08281icmrp3</string>
	<key>API_KEY</key>
	<string>AIzaSyCzs-abnmlFp5at14PiZKxT8GnCBDse0y0</string>
	<key>GCM_SENDER_ID</key>
	<string>60422785470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fsiblbd.agent</string>
	<key>PROJECT_ID</key>
	<string>firstcash-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>firstcash-agent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60422785470:ios:90a6a83b45fd2b54b2d1ef</string>
</dict>
</plist>